rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow everyone to read, only me for everything else
    match /{document=**} {
      allow read: if true;
      allow write, update, create, delete: if request.auth.uid == "3lQFzAgxgXSoaRWY1rkNDdwvPQH2";
    }
  }
}